.products{
    padding: 30px 50px;
    display: flex;
    margin-bottom: 80px;

    .left{
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;

        .filterItem{
            margin-bottom: 30px;

            h2{
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .inputItem{
                margin-bottom: 10px;
                text-transform: capitalize;
                
                label{
                    margin-left: 8px;
                }
            }
        }
    }
    .right{
        flex: 3;

        h1{
            width: 100%;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 40px;
        }

    }
}